<ion-view>
	<ion-content has-header="false" has-tabs="false" padding="true" >
		<div class="row responsive-md whiteBg">
			<div class="col">
				<label class="item item-input item-stacked-label "> <span class="input-label norFont">defect category #1</span>
					<input ng-model="details.u_defect_category1" readonly type="text" class="padding5">
				</label>
			</div>
			<div class="col">
				<label class="item item-input item-stacked-label"> <span class="input-label norFont">defect category #2</span>
					<input ng-model="details.u_defect_category2" readonly type="text" class="padding5">
				</label>
			</div>
		</div>
		<div class="row responsive-md whiteBg">
			<div class="col">
				<label class="item item-input item-stacked-label"> <span class="input-label norFont">defect category #3</span>
					<input ng-model="details.u_defect_category3" readonly type="text" class="padding5">
				</label>
			</div>
			<div class="col">
				<label class="item item-input item-stacked-label"> <span class="input-label norFont">defect category #4</span>
					<input ng-model="details.u_defect_category4" readonly type="text" class="padding5">
				</label>
			</div>
		</div>
		<div class="row responsive-md whiteBg">
			<div class="col">
				<label class="item item-input item-stacked-label"> <span class="input-label norFont">Replacement Part No</span>
					<input ng-model="details.u_replacement_part_no" readonly type="text" class="padding5">
				</label>
			</div>
			<div class="col">
				<label class="item item-input item-stacked-label"> <span class="input-label norFont">Replacement Part Text</span>
					<input ng-model="details.u_replacement_part_text" readonly type="text" class="padding5">
				</label>
			</div>
		</div>
	</ion-content>
</ion-view>
