<ion-view title="Pin Code" ng-init="init()">
	<ion-content has-header="false" has-tabs="false" padding="false" class="loginContainer">
		<div class="row text-center">
			<div class="col ">
				
				<br>
				<h4>Unable to log in due to network connectivity issue</h4>
			</div>
		</div>
	
		<div class="pinLoginCon">
			<div class="row padding">
				<div class="col">
					
				</div>

			</div>
			<div class="row">
				<div class="col width80Per">
					<button class="button button-full button-positive" ng-click="loginAgain()">
						Try Again
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
<style type="text/css">
	@media only screen and(min-width:641px) {/* for Tablet*/
		body {
			background:white;
		}
	}
</style>

