<ion-view>
	<ion-content has-header="true" padding="true">
		<form name="orderSparePart" id="orderSparePart" novalidate="novalidate"  on-valid-submit="doOrderSparePart()">
			<div class="item removeanypadding">
				<div style="height: 20px;"></div>
				
				<div ng-show="show_section.vsparepart" style="margin-left:10px;margin-right:10px;" class="removeanypadding">
					<div style="padding:10px;">
						

						

						
						

						

					</div>
				</div>
				<div class="item item-form-divider item-icon-right" style="margin-left:5px;margin-right:5px;"  ng-click="section_click('vadditionalsp')">
					<h2>Additional Spare Parts</h2>
					<i class="icon ion-ios7-plus-outline" ng-hide="show_section.vadditionalsp"></i><i class="icon ion-ios7-minus-outline" ng-show="show_section.vadditionalsp"></i>
				</div>
				<div ng-show="show_section.vadditionalsp" style="margin-left:10px;margin-right:10px;" class="removeanypadding">
					<div class="row responsive-lg">
						<div class="col marginBot0">
							<div class="list">
								<label class="item item-input item-select item-select-break"> Part Description <!--
									<select data-ng-model='vespareParts.u_sap_part___add' ng-change='onAdditionalSparePartChange(vespareParts.u_sap_part___add)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in defectList">-->
									<select data-ng-model='vespareParts.u_sap_part___add' ng-change='onAdditionalSparePartChange(vespareParts.u_sap_part___add)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in uniquedefectList | orderBy:'u_replacement_part_text'">
										
									</select> </label>

								<label class="item item-input item-stacked-label"> Spare Part Number
									<input ng-model="vespareParts.u_spare_part_add" type="text" readonly="readonly" value="{{vespareParts.u_spare_part_add}}" />
								</label>
								<label class="item item-input item-stacked-label"> <span class="input-label">Total Quantity</span>
									<input ng-model="vespareParts.u_quantity_add" value="{{vespareParts.u_quantity_add}}" placeholder="0" type="tel" maxlength="2" />
								</label>
							</div>
						</div>
					</div>
                    
                     <!--2nd-->
							<div class="paddingTen" ng-show="vespareParts.u_sap_part_desc_2 && vespareParts.u_sap_part_desc_2.length > 0" style="padding-bottom:0px!important">
								<div class="col lightGreyPadMar">
									<div class="list whiteBg">
										<div class="row">
											<div class="col marginBot0">
												<div class="list">
													<label class="item item-input item-select item-select-break"> Part Description <!--
									<select data-ng-model='vespareParts.u_sap_part___add' ng-change='onAdditionalSparePartChange(vespareParts.u_sap_part___add)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in defectList">-->
									<select data-ng-model='vespareParts.u_sap_part_desc_2' ng-change='onAdditionalSparePartChange2(vespareParts.u_sap_part_desc_2)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in uniquedefectList | orderBy:'u_replacement_part_text'">
										
									</select> </label>

								<label class="item item-input item-stacked-label"> Spare Part Number
									<input ng-model="vespareParts.u_sap_part_num_2" type="text" readonly="readonly" value="{{vespareParts.u_sap_part_num_2}}" />
								</label>
								<label class="item item-input item-stacked-label"> <span class="input-label">Total Quantity</span>
									<input ng-model="vespareParts.u_sap_part_qty_2" value="{{vespareParts.u_sap_part_qty_2}}" placeholder="0" type="tel" maxlength="2">
								</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--3rd-->
							<div class="paddingTen" ng-show="vespareParts.u_sap_part_desc_3 && vespareParts.u_sap_part_desc_3.length > 0" style="padding-top:0px!important" >
								<div class="col lightGreyPadMar">
									<div class="list whiteBg">
										<div class="row">
											<div class="col marginBot0">
												<div class="list">
										<label class="item item-input item-select item-select-break"> Part Description <!--
									<select data-ng-model='vespareParts.u_sap_part___add' ng-change='onAdditionalSparePartChange(vespareParts.u_sap_part___add)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in defectList">-->
									<select data-ng-model='vespareParts.u_sap_part_desc_3' ng-change='onAdditionalSparePartChange3(vespareParts.u_sap_part_desc_3)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in uniquedefectList | orderBy:'u_replacement_part_text'">
										
									</select> </label>

								<label class="item item-input item-stacked-label"> Spare Part Number
									<input ng-model="vespareParts.u_sap_part_num_3" type="text" readonly="readonly" value="{{vespareParts.u_sap_part_num_3}}" />
								</label>
								<label class="item item-input item-stacked-label"> <span class="input-label">Total Quantity</span>
									<input ng-model="vespareParts.u_sap_part_qty_3" value="{{vespareParts.u_sap_part_qty_3" placeholder="0" type="tel" maxlength="2">
								</label>
									</div>
								</div>
							</div>
                            </div>
								</div>
							</div>
                            
                            <!--4th-->
							<div class="paddingTen" ng-show="vespareParts.u_sap_part_desc_4 && vespareParts.u_sap_part_desc_4.length > 0" style="padding-top:0px!important" >
								<div class="col lightGreyPadMar">
									<div class="list whiteBg">
										<div class="row">
											<div class="col marginBot0">
												<div class="list">
										<label class="item item-input item-select item-select-break"> Part Description <!--
									<select data-ng-model='vespareParts.u_sap_part___add' ng-change='onAdditionalSparePartChange(vespareParts.u_sap_part___add)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in defectList">-->
									<select data-ng-model='vespareParts.u_sap_part_desc_4' ng-change='onAdditionalSparePartChange3(vespareParts.u_sap_part_desc_4)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in uniquedefectList | orderBy:'u_replacement_part_text'">
										
									</select> </label>

								<label class="item item-input item-stacked-label"> Spare Part Number
									<input ng-model="vespareParts.u_sap_part_num_4" type="text" readonly="readonly" value="{{vespareParts.u_sap_part_num_4}}" />
								</label>
								<label class="item item-input item-stacked-label"> <span class="input-label">Total Quantity</span>
									<input ng-model="vespareParts.u_sap_part_qty_4" value="{{vespareParts.u_sap_part_qty_4" placeholder="0" type="tel" maxlength="2">
								</label>
									</div>
								</div>
							</div>
                            </div>
								</div>
							</div>
                            
                            <!--5th-->
							<div class="paddingTen" ng-show="vespareParts.u_sap_part_desc_5 && vespareParts.u_sap_part_desc_5.length > 0" style="padding-top:0px!important" >
								<div class="col lightGreyPadMar">
									<div class="list whiteBg">
										<div class="row">
											<div class="col marginBot0">
												<div class="list">
										<label class="item item-input item-select item-select-break"> Part Description <!--
									<select data-ng-model='vespareParts.u_sap_part___add' ng-change='onAdditionalSparePartChange(vespareParts.u_sap_part___add)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in defectList">-->
									<select data-ng-model='vespareParts.u_sap_part_desc_5' ng-change='onAdditionalSparePartChange3(vespareParts.u_sap_part_desc_5)'
									ng-options="obj.u_replacement_part_text as obj.u_replacement_part_text for obj in uniquedefectList | orderBy:'u_replacement_part_text'">
										
									</select> </label>

								<label class="item item-input item-stacked-label"> Spare Part Number
									<input ng-model="vespareParts.u_sap_part_num_5" type="text" readonly="readonly" value="{{vespareParts.u_sap_part_num_5}}" />
								</label>
								<label class="item item-input item-stacked-label"> <span class="input-label">Total Quantity</span>
									<input ng-model="vespareParts.u_sap_part_qty_5" value="{{vespareParts.u_sap_part_qty_5" placeholder="0" type="tel" maxlength="2">
								</label>
									</div>
								</div>
							</div>
                            </div>
								</div>
							</div>
                    
                    
				</div>
				<div class="item item-form-divider item-icon-right" style="margin-left:5px;margin-right:5px;"  ng-click="section_click('vshippingdetails')">
					<h2>Shipping Details</h2>
					<i class="icon ion-ios7-plus-outline" ng-hide="show_section.vshippingdetails"></i><i class="icon ion-ios7-minus-outline" ng-show="show_section.vshippingdetails"></i>
				</div>
				<div ng-show="show_section.vshippingdetails" style="margin-left:10px;margin-right:10px;" class="removeanypadding">
					<div class="row responsive-lg">
						<div class="col marginBot0">
							<div class="list">
								<label  ng-class="isInvalidCheck('vespareParts.u_ship_to') ? 'has-error' : 'has-success'" class="item item-input item-stacked-label"> <span class="input-label">Ship To</span>
									<input type="tel" ng-model="vespareParts.u_ship_to" maxlength="10"  ng-blur="validateShipTo(vespareParts.u_ship_to)" />
								</label>
								<label class="item item-input item-stacked-label"> <span class="input-label" style="white-space:normal; max-width:100%; width:100%">Delivery Address (if different than ship to) and Notes</span> 									<textarea ng-model="vespareParts.u_delivery_address" rows="4" cols="5">{{vespareParts.u_delivery_address}}</textarea> </label>
								<label class="item item-input item-stacked-label"> <span class="input-label">CSC Email Address</span>
									<input readonly="readonly" value='{{vespareParts.u_csc_mail_address}}' type="text" />
								</label>

								<label class="item item-input item-stacked-label"> <span class="input-label">Additional Email ID</span>
									<input ng-model="vespareParts.u_email" value="{{vespareParts.u_email}}" type="email" validate-email id="email" />                               
								</label>

								<li class="item item-checkbox">
									<label class="checkbox">
										<input ng-model="vespareParts.u_critical" ng-checked="vespareParts.u_critical == 1" ng-change="onSparePartCritical(vespareParts.u_critical)" type="checkbox">
									</label>
									Critical
								</li>
								<label ng-class="isInvalidCheckDt('vespareParts.u_expected_date') ? 'has-error' : 'has-success'" class="item item-input item-stacked-label"> <span class="input-label">Expected Delivery Date</span>
									<input ng-disabled="vespareParts.u_critical" ng-model="vespareParts.u_expected_date" value='{{vespareParts.u_expected_date}}' type="date">
								</label>
								<label class="item item-input item-stacked-label"> Order Status <!-- <input readonly="readonly" value="{{vespareParts.u_order_status}}" type="text" /> -->
									<input readonly="readonly" value="New" type="text" />
								</label>
							</div>
						</div>
					</div>
				</div>

				

				<div style="margin-top: 30px; margin-bottom: 30px;" align="center"></div>
				<div style="margin-top: 30px; margin-bottom: 30px;" align="center">
					<div class="row">
						<div class="col">
							<button ng-click="onSparePartsUpload()" class="button button-small button-positive button-same-size">
								Upload Order
							</button>
							<button ng-click="onSparePartsUploadCancel()" class="button button-small button-positive button-same-size">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>
